.div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item1,
.item2 {
	flex-basis: 50%;
	font-size: 1.3vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.item1 {
	color: white;
	display: flex;
	flex-direction: column;
	animation: aparecer 2s ease-in-out;
}

.item2 {
	display: flex;
	justify-content: center;
	align-items: center;
	animation: aparecer 2s ease-in-out;
}

.img {
	width: 24vw;
	border-radius: 5%;
	animation: rotateAnimation 2.5s ease-in-out;
}

@keyframes rotateAnimation {
	0% {
		opacity: 0;
		scale: 0.5;
	}

	20% {
		rotate: -180deg;
	}
	50% {
		rotate: 0deg;
	}
	100% {
		opacity: 1;
	}
}

@keyframes aparecer {
	0% {
		opacity: 0;
		scale: 1;
	}

	100% {
		opacity: 1;
		scale: 1;
	}
}
