@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

body {
	font-family: "Lato", sans-serif;
}

.navContainer {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	background-color: #070101a2;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 999;
}

.navImg {
	width: 8vw;
}

.homeAbout,
.nav {
	font-family: "Lato", sans-serif;
	flex-basis: 50%;
	font-size: 1.5rem;
	align-items: flex-end;
	padding: 0 1rem;
}

.homeAbout {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button {
	font-family: "Lato", sans-serif;
	padding: 0.6vh 1.4vw;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
	border-radius: 0.2rem;
	cursor: pointer;
}

.button:hover {
	background-color: rgb(255, 217, 172);
	color: black;
}

.div:hover {
	/* background-color:rgba(83,11,132, 0.3); */
	background-color: black;
}
