.card {
	font-size: 0.7rem;
	width: 13rem;
	height: 23.5rem;
	margin: 2em;
	border-radius: 1rem;
	box-shadow: 2px 2px 10px #301950;
	/* transition: transform 0.5s ease; */
}

.card:hover {
	transform: scale(1.1);
	cursor: pointer;
	/* transform: rotate(-10deg); */
	background-color: #070101a2;
	/* color: aliceblue; */
	/* transform: rotate(1deg); */
	.img {
		animation: scaleAnimation 3s;
		/* scale: 1.1 */
	}
}

.title {
	font-size: 1.27rem;
}

.img {
	border-radius: 50%;
	box-shadow: 1px 1px 14px #0b2b8d;
	width: 75%;
}

.img:hover {
	/* animation: rotateAnimation 2.5s ease-in-out; */
	/* animation: scaleAnimation 3s; */
	/* transform-origin: center center; */
}

a:link,
a:visited {
	color: white;
	text-decoration: none;
}
.btn {
	background-color: rgba(122, 122, 233, 0.1);
	border: 0.1rem rgba(0, 0, 0, 0.3) solid;
	/* color: white; */
	font-size: large;
	font-weight: bold;
}
.btn:hover {
	border: 0.1rem rgba(0, 0, 0, 0.1) solid;
	background-color: rgb(78, 53, 101);
	box-shadow: 0.2rem 0.2rem 3rem #69e0e4;
	color: white;
	transform: scale(1.1);
	cursor: pointer;
}

@keyframes scaleAnimation {
	/* 0% {
        scale: 1.1;
    } */

	50% {
		scale: 1.1;
	}

	75% {
		/* opacity: 1;
        scale: 1; */
		/* rotate: -360deg; */
		scale: 1.1;
	}

	100% {
		scale: 1;
	}
}
