.div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.input {
    font-size: large;
    height: 2.5rem;
}

.input, .button {
    padding: 0.5rem;
}

.button {
    margin-left: 1.5rem;
    /* margin-right: 1.5rem; */
    /* width: 7rem; */
    padding: 0.5rem 1rem;
    font-size: large;
    border-radius: 0.2rem;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: aliceblue;
}

