.div {
    /* background-color: rgb(68, 6, 68); */
    background-color: #070101a2;
    /* background-color:rgba(83,11,132, .5); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* margin-bottom: 100px; */

}

.homeAbout, .nav {
    flex-basis: 50%;
    font-size: 1.6rem;
    /* height: 100vh; */
    /* justify-content: center; */
    align-items: flex-end;
    padding: 0 1rem;
    
}

.homeAbout {
    display: flex;
    justify-content: space-around;

}
/* 
.navbar {
    background-color: red;
    z-index: 999;
} */

/* .homeAbout {
    padding: 0 1rem;
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    height: 10vh;
    z-index: 1;
}

.nav {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 10vh;
    z-index: 1;

} */

.scrollDiv {
    background-color: red;
}

.button {
    padding: 0.6vh 1.4vw;
    font-size: large;
    margin-top:1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: aliceblue;
}

.div:hover {
    /* background-color:rgba(83,11,132, 0.3); */
    background-color: black;
}
